html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
}

/*div {
  border: 1px solid red;
}*/

.container {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.aligncenter {
  align-items: center;
}

.justifycontent {
  justify-content: center;
}

.header {
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  margin-top: 1rem;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 960px;
}

.header img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

.header li {
  padding: 0 1rem;
}

.navsmall {
  visibility: hidden;
}

.headerbackground {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  margin: 0 auto;
}

.bannercontainer {
  justify-content: flex-end;
}

.banner {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  display: inline-block;
}

.icons {
  text-align: center;
  justify-content: center;
}

.service {
  height: 8rem;
  width: 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

.papericon {
  width: 3.5rem;
}

.rulericon,
.truckicon {
  width: 5rem;
}

.info {
  display: flex;
  justify-content: center;
}

.infoblock {
  width: 35%;
  margin: 0 2.5%;
}

.infotitle {
  width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
}

.footer {
  background-color: azure;
  align-items: center;
  margin-top: 5rem;
}

.footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/*Tablet*/

@media only screen and (max-width: 1000px) {

  .container {
    width: 100%;
  }

  .header {
    margin: 0;
    width: 100%;
  }

  .headerbackground {
    height: 22rem;
  }

  .banner {
    font-size: 1.33rem;
    margin-top: 8rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }

}

/*Mobile*/

@media only screen and (max-width: 470px) {

  .container {
    width: 100%;
  }

  .header {
    margin: 0;
    width: 100%;
  }

  .headerbackground {
    height: 17rem;
    background-position: 20%;
  }

  .navsmall {
    visibility: visible;
  }

  .banner {
    font-size: 1rem;
    margin-top: 12rem;
    margin-right: 0;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
  }

  .icons {
    flex-direction: column;
    margin: 3.77rem auto;
    align-items: center;
    font-size: 0.77rem;
  }

  .service {
    margin: 1.54rem;
    height: 6rem;
    justify-content: space-around;
  }

  .info {
    flex-direction: column;
    margin: 0;
  }

  .infotitle {
    width: 90%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .infoblock {
    width: 95%;
    margin: 0 auto 4rem auto;
  }

  .infoblock p {
    font-size: 0.77rem;
  }

  .footer {
    height: 9.5rem;
    margin: 0;
  }

  .footer span {
    display: none;
  }

  .footer img {
    padding: 0;
    margin: auto;
  }

}
